/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.App h2 {
  text-align: center;
}

.App {
  height: 100vh;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #cffafe;


}

.icon_div {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

/* @media (min-width: 600px) {
  .App {
    display: flex;
    flex: 0 0 100%;
    min-height: 100vh;
  }

} */
